<div class="panel">
  <h1>
    <fa-icon [icon]="faUserClock"></fa-icon>
    Actual session
  </h1>
  <div class="content">
    <p><span>Name:</span> user1</p>
    <p><span>Admin:</span> yes</p>
    <p><span>Last connection:</span> 5 min ago</p>
    <p><span>Session created:</span> 20 days ago</p>
    <p>
      <button class="button">Logout</button>
    </p>
  </div>
</div>
<div class="panel">
  <h1>
    <fa-icon [icon]="faCompass"></fa-icon>
    Navigation
  </h1>
  <div class="content">
    <p>
      <a href="#" class="button">Users</a>
      <a href="#" class="button">Sessions</a>
    </p>
  </div>
</div>
