@import '~src/styles/variables.scss';

body {
  background-color: #f0f1f2;
  margin: 0;
  font-family: Roboto;
}

.button {
  display: inline-block;
  margin-right: 1em;
  padding: 5px 15px;
  background-color: $primary-color;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  min-width: 75px;
  text-align: center;
}

button.button {
  border: 0;
  box-sizing: content-box;
  cursor: pointer;
}

button:disabled {
  background-color: #e9e9e9 !important;
  cursor: not-allowed;
  color: #646464;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2em;
  > thead,
  tbody {
    text-align: left;
  }
  > thead > tr > th {
    border-top: 1px solid $table-color;
    border-bottom: 1px solid $table-color;
    background-color: $table-color;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  > tbody > tr > td {
    border-top: 1px solid $table-color;
  }
  th:first-child,
  td:first-child {
    font-weight: bolder;
  }
  th,
  td {
    padding: 1em;
  }
}
.delete {
  background-color: #f44336;
}

.save {
  background-color: #4caf50;
}
