<app-panel>
  <ng-container header>
    <fa-icon [icon]="faUsers"></fa-icon>Users
  </ng-container>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Id</th>
        <th>Name</th>
        <th>Admin</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>3c7ffeac681a46718312f4816c260737</td>
        <td>user1</td>
        <td>Yes</td>
        <td><button class="button delete">Delete</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>x5oEWFmwvmZXCSgzYfL0tXNZYFyKHTGS</td>
        <td>user2</td>
        <td>No</td>
        <td><button class="button delete">Delete</button></td>
      </tr>
      <tr>
        <td>3</td>
        <td>aXkk6WYeHDFfyhtClMvFC33jvd6cEMin</td>
        <td>user3</td>
        <td>No</td>
        <td><button class="button delete">Delete</button></td>
      </tr>
      <tr>
        <td>4</td>
        <td>MfSjCid9HdMcaCJhpEGWHT7fDSn3ULXC</td>
        <td>user4</td>
        <td>Yes</td>
        <td><button class="button delete">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <h2>New user</h2>
  <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <input type="text" formControlName="name" id="name" />
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      autocomplete="off"
    />
    <label for="isAdmin">Is admin?</label>
    <input type="checkbox" formControlName="isAdmin" id="isAdmin" />
    <button class="button save" type="submit" [disabled]="!newUserForm.valid">
      Save
    </button>
  </form>
</app-panel>

<app-navigation></app-navigation>
